.listed-passwords::-webkit-scrollbar {
	width: 15px;
}

.listed-passwords::-webkit-scrollbar {
	background: #a9b2ac;
}

.listed-passwords::-webkit-scrollbar-thumb {
	background: #bcd0c7;
	border-radius: 5px;
}

@media screen and (max-width: 380px) {
	.listed-passwords::-webkit-scrollbar {
		width: 10px;
	}
}
